<mat-card class="weather-container">
  <mat-card-header class="weather-container-header">
    <app-search-bar
      class="weather-location-search-bar"
      (search)="search($event)"
    ></app-search-bar>
    <app-button-toggle
      [options]="buttonToggleOptions"
      [multiple]="false"
      [selectedValue]="WeatherApiConfig.defaultUnit"
      (toggle)="changeMeasurementUnit($event)"
    ></app-button-toggle>
  </mat-card-header>
  <mat-card-content class="weather-container-content">
    <app-weather></app-weather>
    <app-weather-forecast></app-weather-forecast>
  </mat-card-content>
</mat-card>
